.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    font-family: Barlow,sans-serif;
}

.dialogsItems .dialogItem {
    padding: 5px;
}

.dialogsItems .dialogItem .active {
    color: burlywood;
}

.dialogItem text {
    text-decoration: none;
    color: #000;
}

.messages {
color: #000;
}

.friendMessageElements {
    color: #000;
}

.myMessageElements {
    color: #000;
}

.messages .message {
    padding: 5px;
}