.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    font-family: Barlow,sans-serif;
}

.dialogsItems .dialogItem {
    padding: 5px;
}

.dialogsItems .dialogItem .active {
    color: burlywood;
}

.dialogItem text {
    text-decoration: none;
    color: #000;
}

.massages {
color: #000;
}

.friendMassageElements {
    color: #000;
}

.myMassageElements {
    color: #000;
}

.massages .massage {
    padding: 5px;
}